<h1>Welcome Plebian! You've made it to the add page!</h1>
<h2>Feel free to add some stuff</h2>
<form class="" action="/add" method="post">
  <p>Key<input type="text" name="key"></p>
  <p>Value<input type="text" name="value"></p>
  <p><button type="submit">Submit</button></p>
</form>

<%=Object.entries(data[0])%>
